# Bytecode e cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais / variáveis locais
.env
.env.*
.venv/
venv/
env/

# Banco e backups
/db_prodcumaru.db
*.bak

# Uploads e arquivos gerados
/uploads/
/static/uploads/

# SO
.DS_Store
Thumbs.db
