<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SGA Staff - ProdCumaru</title>
  <link rel="icon" href="/static/img/icon/sga-staff.png">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/static/css/login/login-staff.css" />
</head>

<body class="body-login-cadastro">
  <div class="container-centralizado">
    <div class="cartao-autenticacao">

      <div class="logo-sistema">
        <img src="/static/img/icon/sga-staff.png" alt="Logo SGA Staff" class="perfil-avatar">
      </div>

      <h1 class="titulo-autenticacao">Portal Staff</h1>

      <p class="subtitulo-autenticacao" id="subtitulo-login-cadastro">
        Acesse sua conta profissional
      </p>

      <div id="area-login" class="area-formulario ativa">
        <h2 class="titulo-formulario">Entrar</h2>
        <p class="descricao-formulario">
          Entre com suas credenciais de profissional
        </p>
        <form class="formulario-autenticacao">
          <div class="campo-formulario-autenticacao">
            <label for="email-staff-login">Email</label>
            <input type="email" id="email-staff-login" placeholder="seu@email.com" required />
          </div>
          <div class="campo-formulario-autenticacao">
            <label for="senha-staff-login">Senha</label>
            <div class="campo-senha">
              <input type="password" id="senha-staff-login" placeholder="Sua senha" required />
              <span class="mostrar-senha" data-target="senha-staff-login"><i class="far fa-eye"></i></span>
            </div>
          </div>
          <button type="submit" class="botao-autenticacao">Entrar</button>
        </form>
      </div>

    </div>
  </div>

  <script src="/static/js/login/login-staff.js"></script>
</body>

</html>